:host {
    display: block;

    header {
        border-bottom: 1px solid #000;
        nav {
            max-width: 1024px;
            margin: 0 auto;
            ul {
                display: flex;
                overflow: auto;
                li {
                    a {
                        white-space: nowrap;
                        padding: 1.5em 1em;

                        &.active {
                            text-decoration: underline;
                            text-underline-offset: .2em;
                        }
                    }
                }
            }
        }
    }
}
