:host {
    form {
        display: flex;
        justify-content: space-between;
        margin: 2.5em 0;

        input {
            border: 1px solid #000;
            width: 89%;
        }

        button {
            border: 1px solid #000;
            width: 10%;

            &[disabled] {
                opacity: .3;
                cursor: default;
            }
        }
    }
}
