@import "/src/styles";

:host {
    .boxOffice {
        max-width: 400px;
        margin: 0 auto;

        li {
            position: relative;
            line-height: 1.2;
            padding: 1em 2.5em 1em 1em;
            border: 1px solid #000;
            word-break: keep-all;

            & + li {
                margin-top: .5em;
            }

            .num {
                display: inline-block;
                width: 25px;
                text-align: center;
            }
            .movieName {
                margin-left: .5em;
            }

            .change {
                position: absolute;
                top: 50%;
                right: 1.5em;
                width: 30px;
                color: #666;
                font-size: .75em;
                text-align: center;
                transform: translateY(-50%);
                content: '-';

                &.new {
                    color: #c50000;
                    content: 'NEW!';
                }

                &.up {
                    color: #c50000;

                    &:before {
                        content: '▲';
                    }
                }

                &.down {
                    color: #3c87ff;

                    &:before {
                        content: '▼';
                    }
                }
            }
        }
    }
}

@include mobile480 {
    :host {
        .boxOffice {
            li {
                font-size: 1.1rem;

                .change {
                    font-size: .9em;
                }
            }
        }
    }
}
